@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700");
.btn {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  height: 45px;
  color: white;
  background: #ff52bf;
  border: none;
  border-radius: 23px;
  -webkit-box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);
  text-transform: capitalize;
  margin-bottom: 60px;
}

@media (max-width: 500px) {
  .btn {
    width: 55%;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 700;
    font-size: 12px;
  }
}

.heading {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 500px) {
  .heading {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.section2-img1 {
  width: 100%;
}

.icons {
  width: 30px;
  height: 30px;
}

#footer-logo {
  height: 25px;
  width: 125px;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body header .top-logo {
  padding-top: 35px;
  padding-left: 30px;
}

body header .top-logo img {
  height: 18px;
  width: 110px;
}

body header .top-button {
  padding-top: 35px;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 30px;
}

body header .top-button button {
  background: white;
  color: #ff52bf;
  border: #ff52bf 1px solid;
  font-size: 8px;
  height: 20px;
  width: 70px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 22px -8px rgba(0, 0, 0, 0.75);
  text-transform: capitalize;
}

body main .section1 {
  padding-top: 70px;
}

body main .section1 p {
  text-align: center;
  padding-left: 33%;
  padding-right: 33%;
  padding-bottom: 20px;
  font-size: 0.8em;
}

@media (max-width: 500px) {
  body main .section1 p {
    padding-left: 9%;
    padding-right: 9%;
    font-size: 0.9em;
  }
}

body main .section1 .first-img-cont {
  padding-left: 14%;
  padding-right: 14%;
  max-width: 100%;
  padding-bottom: 120px;
}

@media (max-width: 500px) {
  body main .section1 .first-img-cont {
    padding-left: 10%;
    padding-right: 10%;
  }
}

body main .section1 .first-img-cont .first-img {
  width: 100%;
}

body main .section1 .section1-cont {
  display: -ms-grid;
  display: grid;
  padding-bottom: 100px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px) {
  body main .section1 .section1-cont {
    display: block;
  }
}

body main .section1 .section1-cont .section1-box1 {
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 60px;
}

@media (max-width: 500px) {
  body main .section1 .section1-cont .section1-box1 {
    text-align: center;
  }
}

body main .section1 .section1-cont .section1-box1 img {
  height: 25px;
}

@media (max-width: 500px) {
  body main .section1 .section1-cont .section1-box1 img {
    padding-right: 26%;
  }
}

body main .section1 .section1-cont .section1-box1 h1 {
  font-weight: 700;
  font-size: 3.8em;
  margin: 0;
}

body main .section1 .section1-cont .section1-box1 p {
  padding: 0;
  color: grey;
}

body main .section1 .section1-cont .section1-box2 {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 500px) {
  body main .section1 .section1-cont .section1-box2 {
    text-align: center;
  }
}

body main .section1 .section1-cont .section1-box2 img {
  height: 25px;
}

@media (max-width: 500px) {
  body main .section1 .section1-cont .section1-box2 img {
    padding-right: 26%;
  }
}

body main .section1 .section1-cont .section1-box2 h1 {
  font-weight: 700;
  font-size: 3.8em;
  margin: 0;
}

@media (max-width: 500px) {
  body main .section1 .section1-cont .section1-box2 h1 {
    font-size: 3.3em;
  }
}

body main .section1 .section1-cont .section1-box2 p {
  padding: 0;
  color: grey;
}

body main .section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

body main .section2 .section2-img {
  display: block;
  width: 100%;
  position: relative;
  top: 100px;
  background-repeat: no-repeat;
  background-image: url(bg-section-top-desktop-1.svg);
}

@media (max-width: 500px) {
  body main .section2 .section2-img {
    background-image: url(bg-section-top-mobile-1.svg);
  }
}

body main .section2 .section2-box1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: #F6FBFF;
}

@media (max-width: 500px) {
  body main .section2 .section2-box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .section2 .section2-box1 .box1-div1 {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 500px) {
  body main .section2 .section2-box1 .box1-div1 {
    width: 100%;
  }
}

body main .section2 .section2-box1 .box1-div2 {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 500px) {
  body main .section2 .section2-box1 .box1-div2 {
    width: 100%;
  }
}

body main .section2 .section2-box1 .box1-div2 .box1-div2-img {
  width: 100%;
}

body main .section2 .section2-box2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px) {
  body main .section2 .section2-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .section2 .section2-box2 .box2-div1 {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 500px) {
  body main .section2 .section2-box2 .box2-div1 {
    width: 100%;
  }
}

body main .section2 .section2-box2 .box2-div1 .box2-div1-img {
  width: 100%;
}

body main .section2 .section2-box2 .box2-div2 {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 500px) {
  body main .section2 .section2-box2 .box2-div2 {
    width: 100%;
  }
}

body main .section2 .section2-box3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background: #F6FBFF;
}

@media (max-width: 500px) {
  body main .section2 .section2-box3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main .section2 .section2-box3 .box3-div1 {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 500px) {
  body main .section2 .section2-box3 .box3-div1 {
    width: 100%;
  }
}

body main .section2 .section2-box3 .box3-div2 {
  width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 500px) {
  body main .section2 .section2-box3 .box3-div2 {
    width: 100%;
  }
}

body main .section2 .section2-box3 .box3-div2 .box3-div2-img {
  width: 100%;
}

body footer {
  color: white;
}

body footer img {
  margin-bottom: -10px;
}

body footer .footer-cont {
  padding-bottom: 80px;
  background: #00252e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

body footer h1 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.6em;
  font-family: "Poppins", sans-serif;
}

body footer p {
  font-size: 0.8em;
}

body footer form input[type="text"] {
  height: 30px;
  border-radius: 4px;
  border: none;
  min-width: 50%;
}

body footer form button {
  background: #ff52bf;
  color: #ffffff;
  border: none;
  height: 30px;
  border-radius: 4px;
  width: 90px;
  margin-left: 25px;
}
/*# sourceMappingURL=style.css.map */