@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700');

$headings: 'Poppins', sans-serif;
$body: 'Open Sans', sans-serif;

$colors: (
  primary: hsl(322, 100%, 66%),
  neutral1: hsl(192, 100%, 9%),
  neutral2: hsl(207, 100%, 98%)
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

$padding: 30px;
$padding-top: 35px;

$mobile: 500px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.btn {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  height: 45px;
  color: white;
  background: color(primary);
  border: none;
  border-radius: 23px;
  box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
  text-transform: capitalize;
  margin-bottom: 60px;
  @include mobile {
    width: 55%;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 700;
    font-size: 12px;
  }
}
.heading {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5em;
  font-family: $headings;
  @include mobile {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.section2-img1 {
  width: 100%;
}
.icons {
  width: 30px;
  height: 30px;
}
#footer-logo {
  height: 25px;
  width: 125px;
}

body {
  margin: 0;
  height: 100%;
  font-family: $body;
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .top-logo {
      padding-top: $padding-top;
      padding-left: $padding;
      img {
        height: 18px;
        width: 110px;
      }
    }
    .top-button {
      padding-top: $padding-top;
      justify-self: end;
      padding-right: $padding;
      button {
        background: white;
        color: color(primary);
        border: color(primary) 1px solid;
        font-size: 8px;
        height: 20px;
        width: 70px;
        border-radius: 10px;
        box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
        text-transform: capitalize;
      }
    }
  }
  main {
    .section1 {
      padding-top: 70px;
      
      p {
        text-align: center;
        padding-left: 33%;
        padding-right: 33%;
        padding-bottom: 20px;
        font-size: 0.8em;
        @include mobile {
          padding-left: 9%;
          padding-right: 9%;
          font-size: 0.9em;
        }
      }
      
      .first-img-cont {
        padding-left: 14%;
        padding-right: 14%;
        max-width: 100%;
        padding-bottom: 120px;
        @include mobile {
          padding-left: 10%;
          padding-right: 10%;
        }
        .first-img {
          width: 100%;
        }
      }
      .section1-cont {
        display: grid;
        padding-bottom: 100px;
        grid-template-columns: 1fr 1fr;
        @include mobile {
          display: block;
        }
        .section1-box1 {
          justify-self: center;
          padding-bottom: 60px;
          @include mobile {
            text-align: center;
          }
          img {
            height: 25px;
            @include mobile {
              padding-right: 26%;
            }
          }
          h1 {
            font-weight: 700;
            font-size: 3.8em;
            margin: 0;
          }
          p {
            padding: 0;
            color: grey;
          }
        }
        .section1-box2 {
          justify-self: center;
          @include mobile {
            text-align: center;
          }
          img {
            height: 25px;
            @include mobile {
              padding-right: 26%;
            }
          }
          h1 {
            font-weight: 700;
            font-size: 3.8em;
            margin: 0;
            @include mobile {
              font-size: 3.3em;
            }
          }
          p {
            padding: 0;
            color: grey;
          }
        }
      }
    }
    .section2 {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      .section2-img {
        display: block;
        width: 100%;
        position: relative;
        top: 100px;
        background-repeat: no-repeat;
        background-image: url(bg-section-top-desktop-1.svg);
        @include mobile {
          background-image: url(bg-section-top-mobile-1.svg);
        
        }
      }
      .section2-box1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #F6FBFF;
        @include mobile {
          display: flex;
          flex-direction: column;
        }
        .box1-div1 {
          width: 50%;
          justify-self: center;
          @include mobile {
            width: 100%;
          }
        }
        .box1-div2 {
          width: 50%;
          justify-self: center;
          @include mobile {
            width: 100%;
          }
          .box1-div2-img {
            width: 100%;
          }
        }
      }
      .section2-box2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include mobile {
          display: flex;
          flex-direction: column;
        }
        .box2-div1 {
          width: 50%;
          justify-self: center;
          @include mobile {
            width: 100%;
          }
          .box2-div1-img {
            width: 100%;
          }
        }
        .box2-div2 {
          width: 50%;
          justify-self: center;
          @include mobile {
            width: 100%;
          }
        }
      }
      .section2-box3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #F6FBFF;
        @include mobile {
          display: flex;
          flex-direction: column;
        }
        .box3-div1 {
          width: 50%;
          justify-self: center;
          @include mobile {
            width: 100%;
          }
        }
        .box3-div2 {
          width: 50%;
          justify-self: center;
          @include mobile {
            width: 100%;
          }
          .box3-div2-img {
            width: 100%;
          }
        }
      }
    }
  }
  footer {
    color: white;
    img {
      margin-bottom: -10px;
    }
    .footer-cont {
      padding-bottom: 80px;
      background: color(neutral1);
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      grid-gap: 30%;
      padding-left: 10%;
      padding-right: 10%;
    }
    h1{
      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.6em;
      font-family: $headings;
   }
    p {
      font-size: 0.8em;
      // padding-right: 100px;
    }
    form {
      input[type="text"] {
        height: 30px;
        border-radius: 4px;
        border: none;
        min-width: 50%;
      }
      button {
        background: color(primary);
        color: #ffffff;
        border: none;
        height: 30px;
        border-radius: 4px;
        width: 90px; 
        margin-left: 25px;
      }
    }
  }
}
