@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700');

$headings: 'Poppins', sans-serif;
$body: 'Open Sans', sans-serif;

$colors: (
  primary: hsl(322, 100%, 66%),
  neutral1: hsl(192, 100%, 9%),
  neutral2: hsl(207, 100%, 98%)
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  img {
    height: 25px;
    width: 115px;
  }
}
